.slotSelector, .slotSelector * {
  display: flex
}
.slotSelector {
  flex-direction: row;
}
.slotSelector .day {
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  width: 100px;
}
.slotSelector .dayOfWeek {
  font-weight: bold;
}
.slotSelector button {
  display: block;
  width: 100px;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  font-size: 14px;
}
